/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

html{
    height: 100%;
}
body{
    height: 100%;
    font-family: "Open Sans","ARIAL", sans-serif;
    font-weight: 400;
    background-color: #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
a{
    text-decoration: none;
}

:root{
    --primery-grey-color:#676770;
    --primery-white-color:#fff;
    --color-blue69b9:#69B9FF;
}

.container{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.header .container{
    padding: 11px 270px 24px 250px;
    background-color: var(--primery-white-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.site-logo{
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--color-blue69b9);
}
.site-logo:hover{
    opacity: 0.8;
}

.site-logo:active{
    opacity: 0.6;
}
.site-nav{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap:40px;
}
.site-link{
    font-size: 16px;
    line-height: 20px;
    color: var(--primery-grey-color);
}
.site-link:hover{
    color: #0082F3;
}
.site-link:active{
    opacity: 0.6;
}

.img-wrapper{
 
    display: -webkit-box;
 
    display: -ms-flexbox;
 
    display: flex;

            -webkit-box-orient: vertical;

            -webkit-box-direction: normal;

                -ms-flex-direction: column;

                    flex-direction: column;

            -webkit-box-align: center;

                -ms-flex-align: center;

                    align-items: center;
    padding: 184px 0  200px 0;
    background-image: url(../images/svg/IMAGE.svg);
    background-repeat: no-repeat;
    

}

.prymary-title{
    font-size: 59px;
    line-height: 60px;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: var(--primery-white-color);
    margin-bottom: 106px;
}
.link-warapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.sign-up , .learn-more{
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    border: 1px solid var(--primery-white-color);
    border-radius: 4px;
    padding: 11px 30px 13px 30px;
    text-transform: uppercase;
    color: var(--primery-white-color);
}

.learn-more{
    padding: 10px 31px 12px 31px;
}

.sign-up:hover,.learn-more:hover{
    background-color: var(--color-blue69b9);
    border-color: var(--color-blue69b9);
}

.sign-up:active , .learn-more:active{
    opacity: 0.6;
}

.min-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            margin-top: -40px;
    padding: 77px 0 80px 0;
    background-color: var(--primery-white-color);
}
.min-info-title{
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--primery-grey-color);
    margin-bottom: 17px;
}

.min-info-text{
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #8E8E9C;
    margin-bottom: 62px;
}
.box-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.GAF{
    max-width: 300px;
    text-align: center;
    border: 1px solid #DCEBF7;
    border-radius: 5px;
    background-color: var(--primery-white-color);
    padding: 36px 16px 23px 16px;
    
}
.gaf-img{
    margin-bottom: 19px;
}
.GAF-title{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: var(--primery-grey-color);
    margin-bottom: 14px;
}
.GAF-text{
    max-width: 268px;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: #6A859C;
}

/* SERVICES */
.services{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 77px 0 95px 0;
    background-color: #192024;
}

.services-title{
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--primery-white-color);
    margin-bottom: 17px;
}
.services-text{
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #e8e8e8;
    margin-bottom: 77px;
}
.services-img-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
}
.services-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 430px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.ser-img{
    margin-bottom: 20px;
}
.services-img-title{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 7px;
    text-transform: uppercase;
    color: var(--primery-white-color);
    margin-bottom: 23px;
}
.services-img-text{
    max-width: 400px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: var(--primery-white-color);
    margin-bottom: 17px;
} 

/* MAIN */
.main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 77px 40px;
    background-color: var(--primery-white-color);
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
}
.tab-text{
    margin-bottom: 44px;
}
.btns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 16px;
    margin-bottom: 53px;
}

.tab-btn{
    padding: 1px 30px;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--primery-white-color);
    background-color: #92A0AD;
    border-radius: 4px;
}
.tab-btn:hover{
    background-color: #2E80B6;
}
.tab-btn:active{
    opacity: 0.6;
}
.photo{
    margin-bottom: 16px;
}
.main-title{
    font-size: 31px;
    line-height: 36px;
    color: var(--primery-grey-color);
    margin-bottom: 14px;
}
.main-text{
    max-width: 709px;
    font-size: 13px;
    line-height: 25px;
    color: #6A859C;
    text-align: center;
    margin-bottom: 123px;
}
.about-velocity{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
}
.about{
    width: 100%;
    max-width: 319.99px;
}
.about-velocity-title{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--primery-grey-color);
    margin-bottom: 21px;
}
.about-text{
    font-family: "Open Sans","ARIAL", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #6A859C;
    text-transform: none;
    letter-spacing: normal;
}
.usefull-link ,.sites {
    font-size: 13px;
    line-height: 20px;
    color: #668CAD;
    letter-spacing: 0;
    text-transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-bottom: 14px;
}
.usefull-link:hover ,.sites:hover{
    color: #2E80B6;
}
.usefull-link:active ,.sites:active{
    color: #032942;
}
.usefull-link::after ,.sites::after{
    content: "";
    width: 100%;
    height: 1px;
    background-color:#D5D5E0;
    position: absolute;
    bottom: -11px;

}
.app{
    margin-right: 10.67px;
}

.sites::after{
    width: 270px;
    left:30.67px;
}


/* FOOTER */
.footer{
    padding: 40px;
    background-color: #383838;
}
.footer-title{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #9e9e9e;

}

